#header{
    width: 1150px;
    height: 160px;
    margin: 0 auto 0 auto;
}

#main{
    width: 1150px;
    margin: 0 auto;
    padding: 20px 30px;
    position: relative;
}


#right{
    width: 350px;
    display: flex;
}

#top {
    margin: 0 auto;
    display: inline-flex;
}

#naver_logo{
    width: 230px;
    height: 60px;
    margin: 20px 20px 20px 20px;
}

#search_bar{
    height: 50px;
    width: 570px;
    border: 2px solid rgb(3, 207, 90);
    background-color: white;
    margin: 30px 0 30px;
}

#service_area{
    margin-left: auto;
    width: 270px;
    display: block;
}

.service{
    font-size: 11px;
    color: grey;
    display: inline-flex;
    background-color: white;
    border: none;
}

#updown{
    border: 0.1px solid rgb(204, 204, 204);
    width: 0.001px;
    height: 9px;
    display: inline-flex;
}



#search{
    font-size: 20px;
    font-weight: 600;
    width: 520px;
    height: 50px;
    border-color: rgb(3, 207, 90);
    border: 1px;
    float: left;
    padding-left: 15px;
}

#search_button{
    width: 50px;
    height: 50px;
    float: right;
    background: url("search_button.JPG") no-repeat;
    background-size: 51px;
    border: 0px;
}


ul,li{
    list-style: none;
}

.slide{
    width: 752px;
    height: 140px;
    overflow: hidden;

}

.slide ul{
    width: calc(100% * 4);
    animation: slide 8s infinite;
    display: flex;
}

.slide li{
    width: calc(100% / 4);
    height: 140px;
}

.slide li:nth-child(1){
    background-color: rgb(255, 206, 222);

}

.slide li:nth-child(2){
    background-color: rgb(254, 248, 133);

}

.slide li:nth-child(3){
    background-color: rgb(175, 226, 239);

}

.slide li:nth-child(4){
    background-color: rgb(200, 191, 231);

}

@keyframes slide{
    0%{
        margin-left: 0;
    }
    10%{
        margin-left: 0;
    }
    25%{
        margin-left: -100%;
    }
    35%{
        margin-left: -100%;
    }
    50%{
        margin-left: -200%;
    }
    60%{
        margin-left: -200%;
    }
    75%{
        margin-left: -300%;
    }
    85%{
        margin-left: -300%;
    }
    100%{
        margin-left: 0;
    }
}

#navbar {
    height: 50px;
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(236, 236, 236);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

#nav {
    width: 1150px;
    margin: 4px auto;
}

.navbox {
    font-size: 15px;
    font-weight: 700;
    color: rgb(3, 207, 90);
    display: inline;
    margin: auto 3px;
    padding: 2px;
    background-color: white;
    border: none;
}

.navbox2 {
    font-size: 15px;
    font-weight: 700;
    color: black;
    display: inline;
    margin: auto 3px;
    padding: 2px;
    background-color: white;
    border: none;
}

.more {
    font-size: 15px;
    color: grey;
    margin: 10px;
    display: inline;
    background-color: white;
    border: none;
}




#login-box{
    height: 115px;
    width: 330px;
    background : rgb(238, 238, 238);
    border: 1px solid rgb(214, 214, 214);
    position: absolute;
    top: 20px;
    right: 40px;
    display: block;
    padding: 10px;
}

#login-msg {
    font-size: 12px;
    color: grey;
    margin: 5px 5px 5px 13px;
}

#login-button {
    background-color: rgb(3, 207, 90);
    width: 310px;
    height: 50px;
    display: block;
    margin: 10px auto 0 auto;
}


#login-sub-area {
    width: 330px;
    margin: 10px 0px 0px 8px;
    display: inline-flex;
}


.login-look {
    font-size: 12px;
    color: grey;
    margin: 5px;
}

.login-join {
    font-size: 12px;
    color: grey;
    margin: 5px 5px 5px 120px;
}

#adv1 {
    background-color: rgb(254, 248, 133);
    width: 750px;
    height: 135px;
    display: block;
}

#news-slide {
    width: 720px;
    height: 24px;
    background : rgb(238, 238, 238);
    border: 1px solid rgb(214, 214, 214);
    margin: 15px 0px;
    padding: 12px 15px;
    display: inline-flex;
}

#media {
    font-size: 14px;
    font-weight: 700;
}

#issue-slide{
    height: 18px;
    overflow: hidden;
}

#issue-slide ul{
    height:calc(100% * 4);
    animation: slide 8s infinite;
}

#issue-slide li{
    height:calc(100% / 4);
}

#issue-slide li:nth-child(1){
    font-size: 14px;
}

#issue-slide li:nth-child(2){
    font-size: 14px;
}

#issue-slide li:nth-child(3){
    font-size: 14px;

}

#issue-slide li:nth-child(4){
    font-size: 14px;

}

@keyframes slide {
    0% {margin-top:0;}
    10% {margin-top:0;}
    25% {margin-top:-18px;}
    35% {margin-top:-18px;}
    50% {margin-top:-36px;}
    60% {margin-top:-36px;}
    75% {margin-top:-54px;}
    85% {margin-top:-54px;}
    100% {margin-top:0;}
  }

#news-type-area {
    float: right;
    display: inline-flex;
    margin-left: auto;
}

#news-home {
    font-size: 14px;
    color: #3565C9;
    font-weight: 700;
    margin: 0px 8px;
    border: none;
    padding: 0;
}

.news-type {
    font-size: 14px;
    font-weight: 700;
    margin: 0px 5px;
    border: none;
    padding: 0;
}

#card-news-box {
    width: 350px;
    height: 50px;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    display: block;
    position: absolute;
    top: 170px;
    right: 40px;
}
